@import "tailwindcss";
@import url('https://fonts.cdnfonts.com/css/satoshi');
:root{
    font-family: 'Satoshi', sans-serif;
}
.navbar-container{
    box-shadow: 0px 0px 20px 0px rgba(127, 127, 127, 0.15);
}
.jobcard{
    box-shadow: 0px 0px 14px 0px rgba(211, 211, 211, 0.15);
}